<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" routerLink="Home" routerLinkActive class="navbar-brand">
            <img src="../../assets/Images/small-logo.png" height="50" alt="IndianEmbroidery">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" routerLink="Home" routerLinkActive class="nav-item nav-link active">Home</a>
                <a href="#" routerLink="About" routerLinkActive class="nav-item nav-link">About Us</a>
                <a href="#" routerLink="Contact" routerLinkActive class="nav-item nav-link">Contact Us</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav>